.HeaderMain{
background-color: #F5F5F5;
justify-content: center;
height: 60px;
}
.headerrow{
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 20px 10px 20px;
    display: flex;
}
.logoDiv{
width: 121px;
margin-left: -12%;
margin-right: 20%
}
@media only screen and (max-width:767px){
    .logoDiv{
        margin-left: 0px !important;
        margin-right: 0% !important
        }
}

.loginText{
    font-family: Avenir Next;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.153531px;
width: 37px;
height: 19px;
color: #000000;
padding-right: 20px;
}
.clainbtn{
    /* width: 169px; */
    background-color: #16BEDE;
    color:#fff;
    border: none;
    border-radius: 8px;
}
.claimText{
    position: absolute;
width: 132px;
height: 19px;
left: calc(50% - 132px/2 + 425px);
top: calc(50% - 19px/2 - 479.5px);

font-family: Avenir Next;
font-size: 14px;
line-height: 19px;
letter-spacing: 0.153531px;

color: #FFFFFF;
}