.login {
  width: 100vw;
  display: flex;
  flex-direction: column;
}
.vawe_bg {
  height: 45vh;
  width: 100%;
}
.vawe_bg > img {
  object-fit: contain;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

.sign_in {
  height: 55vh;
  width: 100vw;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sign_in_box {
  height: 100%;
  width: 20%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
.sign_in_form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 20px;
}

.sign_in_form > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
  margin: 10px 0;
  border-radius: 10px;
}

.sign_in_form > button {
  outline-width: 0;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  transition: ease-in-out 0.1s;
  border-radius: 10px;
  background: lightgray;

}

.sign_in_form > button:hover {
  background: rgb(233, 233, 233);
}
.registor_link {
  margin-top: 20px;
  display: flex;
}

@media (max-width: 992px) {
  .sign_in_box {
    width: 40%;
  }

  .sign_in_form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sign_in_box {
    width: 80%;
  }

}

