.triangle {
  height: 35vh;
  width: 100vw;
  background: #000080;
}

.registor_detail {
  height: 65vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registor_detail::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  left: 0;
  background: #fff;
  transform: skewY(10deg);
  border-top-right-radius: 100px;
}
.registor_detail::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
}

.detail {
  z-index: 999;
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail_input > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
}
.career__cellPhone > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
  margin: 0 5px;
}
