.registor {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.vawe_bg_registor {
  width: 100%;
}
.vawe_bg_registor > img {
  object-fit: contain;
  width: 100%;
  pointer-events: none;
  z-index: 999;
}

.registor_detail {
  margin: 10px 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  z-index: 999;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.detail_input > input {
  padding: 10px 20px;
  margin: 15px 0;
  outline-width: 0;
  background: lightgray;
  border: none;
  font-size: 14px;
  border-radius: 10px;
}

.detail_input > .user_name {
  text-transform: capitalize;
}
.career__cellPhone > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
  font-size: 14px;
  border-radius: 10px;
}
.career__cellPhone :nth-child(1) {
  margin-right: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.sumbit_btn {
  padding: 10px 0;
  font-size: 14px;
  color: #424949;
  width: 100px;
  align-self: center;
  background: lightgray;
  border: none;
  outline-width: 0;
  border-radius: 5px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  margin: 15px 0;
}
.sumbit_btn:hover {
  background-color: rgb(232, 232, 232);
}

@media (max-width: 992px) {
  .detail {
    padding: 0 10px;
  }
  .career__cellPhone > input {
    padding: 10px 7px;
  }
  .sumbit_btn {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .triangle {
    height: 23vh;
  }
  .registor_detail {
    justify-content: space-around;
  }
  .detail {
    padding: 0 10px;
    
  }
  .detail_input {
    padding: 0 10px;
  }
 
  .career__cellPhone > input {
    margin: 15px 0;
    width: 100%;
  }

  .sumbit_btn {
    width: 100%;
    margin: 15px 0;
  }
}
