.triangle {
  height: 30vh;
  width: 100vw;
  background: #000080;
}

.registor_detail {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registor_detail::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  left: 0;
  background: #fff;
  transform: skewY(10deg);
  border-top-right-radius: 100px;
}
.registor_detail::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
}

.detail {
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail_input {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.detail_input > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
  font-size: 14px;
}
.career__cellPhone > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
  font-size: 14px;
}
.career__cellPhone :nth-child(1) {
  margin-right: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.sumbit_btn {
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  width: 100px;
  align-self: center;
  background: #000080;
  border: none;
  outline-width: 0;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.sumbit_btn:hover {
  background-color: #000080b8;
}

@media (max-width: 1200px) {
  .detail_input > input {
    font-size: 18px;
  }
  .career__cellPhone > input {
    font-size: 18px;
    padding: 10px 7px;
  }

  .sumbit_btn {
    width: 50%;
    font-size: 18px;
  }
}

@media (max-width: 998px) {
  .detail {
    padding: 0 10px;
  }

  .detail_input > input {
    font-size: 18px;
  }
  .career__cellPhone > input {
    font-size: 18px;
    padding: 10px 7px;
  }
  .sumbit_btn {
    width: 50%;
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .triangle {
    height: 23vh;
  }
  .registor_detail {
    justify-content: space-around;
  }
  .detail {
    padding: 0 10px;
  }
  .detail_input {
    padding: 0 10px;
  }
  .detail_input > input {
    font-size: 20px;
  }
  .career__cellPhone > input {
    margin: 8px 0;
    width: 100%;
  }

  .sumbit_btn {
    width: 100%;
  }
}
