.triangle {
  height: 35vh;
  width: 100vw;
  background: #000080;
}

.signUp {
  height: 65vh;
  width: 100vw;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  left: 0;
  background: #fff;
  transform: skewY(10deg);
  border-top-right-radius: 100px;
}
.signUp::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 225px;
  top: -10%;
  right: 0;
  background: #fff;
  transform: skewY(-10deg);
}

.signUp_box {
  height: 70%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.signUp_form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
}

.signUp_form > input {
  padding: 10px 20px;
  outline-width: 0;
  background: lightgray;
  border: none;
}

.signUp_form > button {
  outline-width: 0;
  border: none;
  padding: 10px 0;
  background-color: transparent;
  transition: ease-in-out 0.1s;
}

.signUp_form > button:hover {
  background: lightgray;
}

@media (max-width: 768px) {
  .signUp_box {
    width: 100%;
  }
}
